/* Largura mínima de 721px */

@media screen and (min-width: 45.0625em) {
  .row {
    max-width: 100%;
  }
  .row .column.one,
  .row .columns.one {
    width: 8.33%;
  }
  .row .column.two,
  .row .columns.two {
    width: 16.66%;
  }
  .row .column.three,
  .row .columns.three {
    width: 25%;
  }
  .row .column.four,
  .row .columns.four {
    width: 33.33%;
  }
  .row .column.five,
  .row .columns.five {
    width: 41.66%;
  }
  .row .column.six,
  .row .columns.six {
    width: 50%;
  }
  .row .column.seven,
  .row .columns.seven {
    width: 58.33%;
  }
  .row .column.eight,
  .row .columns.eight {
    width: 66.66%;
  }
  .row .column.nine,
  .row .columns.nine {
    width: 75%;
  }
  .row .column.ten,
  .row .columns.ten {
    width: 83.33%;
  }
  .row .column.eleven,
  .row .columns.eleven {
    width: 91.66%;
  }
  .row .column.twelve,
  .row .columns.twelve {
    width: 100%;
  }
  .row .column.push-one,
  .row .columns.push-one {
    margin-left: 8.33%;
  }
  .row .column.push-two,
  .row .columns.push-two {
    margin-left: 16.66%;
  }
  .row .column.push-three,
  .row .columns.push-three {
    margin-left: 25%;
  }
  .row .column.push-four,
  .row .columns.push-four {
    margin-left: 33.33%;
  }
  .row .column.push-five,
  .row .columns.push-five {
    margin-left: 41.66%;
  }
  .row .column.push-six,
  .row .columns.push-six {
    margin-left: 50%;
  }
  .row .column.push-seven,
  .row .columns.push-seven {
    margin-left: 58.33%;
  }
  .row .column.push-eight,
  .row .columns.push-eight {
    margin-left: 66.66%;
  }
  .row .column.push-nine,
  .row .columns.push-nine {
    margin-left: 75%;
  }
  .row .column.push-ten,
  .row .columns.push-ten {
    margin-left: 83.33%;
  }
  .row .column.push-eleven,
  .row .columns.push-eleven {
    margin-left: 91.66%;
  }
  .row .column.push-twelve,
  .row .columns.push-twelve {
    margin-left: 100%;
  }
  .row .row {
    margin: 0 auto !important;
  }
}
/* Largura mínima de 0px e máxima de 720px*/

@media screen and (min-width: 0em) and (max-width: 45em) {
  .row {
    width: auto;
  }
  .row .column,
  .row .columns {
    padding: 0 20px;
  }
  .row .column.vertical-padding,
  .row .columns.vertical-padding {
    padding: 20px;
  }
  .row .column.mobile-one,
  .row .columns.mobile-one {
    width: 25%;
  }
  .row .column.mobile-two,
  .row .columns.mobile-two {
    width: 50%;
  }
  .row .column.mobile-three,
  .row .columns.mobile-three {
    width: 75%;
  }
  .row .column.mobile-four,
  .row .columns.mobile-four {
    width: 100%;
  }
  .row .column.mobile-push-half,
  .row .columns.mobile-push-half {
    margin-left: 12.5%;
  }
  .row .column.mobile-push-one,
  .row .columns.mobile-push-one {
    margin-left: 25%;
  }
  .row .column.mobile-push-two,
  .row .columns.mobile-push-two {
    margin-left: 50%;
  }
  .row .column.mobile-push-three,
  .row .columns.mobile-push-three {
    margin-left: 75%;
  }
  .row .column.mobile-push-four,
  .row .columns.mobile-push-four {
    margin-left: 100%;
  }
  .row .row {
    width: auto;
    margin: 0 -20px;
  }
  #container header {
    padding-top: 0;
    padding-bottom: 0;
  }
  #container header:after {
    border-bottom: 109px solid #62c9de;
  }
  #container header .logo {
    background: url(./images/logo-hcp-mobile.png) 0 0 no-repeat;
    width: 135px;
    height: 69px;
    margin: 20px 0;
  }
  #container header .show-menu {
    position: absolute;
    display: block;
    right: 0;
    top: 42%;
    opacity: 1;
    visibility: visible;
    z-index: 2000;
    /* active state, i.e. menu open */
  
  }
  #container header .show-menu .c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 70px;
    height: 52px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
  }
  #container header .show-menu .c-hamburger:focus {
    outline: none;
  }
  #container header .show-menu .c-hamburger span {
    display: block;
    position: absolute;
    top: 23px;
    left: 7px;
    right: 7px;
    height: 8px;
    background: white;
  }
  #container header .show-menu .c-hamburger span::before,
  #container header .show-menu .c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: white;
    content: "";
  }
  #container header .show-menu .c-hamburger span::before {
    top: -20px;
  }
  #container header .show-menu .c-hamburger span::after {
    bottom: -20px;
  }
  #container header .show-menu .c-hamburger--htx {
    background-color: transparent;
  }
  #container header .show-menu .c-hamburger--htx span {
    -webkit-transition: background 0s 0.3s;
    transition: background 0s 0.3s;
  }
  #container header .show-menu .c-hamburger--htx span::before,
  #container header .show-menu .c-hamburger--htx span::after {
    -webkit-transition-duration: 0.3s, 0.3s;
    transition-duration: 0.3s, 0.3s;
    -webkit-transition-delay: 0.3s, 0s;
    transition-delay: 0.3s, 0s;
  }
  #container header .show-menu .c-hamburger--htx span::before {
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, transform;
  }
  #container header .show-menu .c-hamburger--htx span::after {
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform;
  }
  #container header .show-menu .c-hamburger--htx.is-active {
    background-color: transparent;
  }
  #container header .show-menu .c-hamburger--htx.is-active span {
    background: none;
  }
  #container header .show-menu .c-hamburger--htx.is-active span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #container header .show-menu .c-hamburger--htx.is-active span::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #container header .show-menu .c-hamburger--htx.is-active span::before,
  #container header .show-menu .c-hamburger--htx.is-active span::after {
    -webkit-transition-delay: 0s, 0.3s;
    transition-delay: 0s, 0.3s;
  }
  #container header .menu {
    background: #2aa99c;
    position: fixed;
    display: block;
    float: none;
    width: auto;
    height: 100%;
    top: 0;
    left: -100%;
    padding: 10px;
    z-index: 9999;
    text-align: center;
  }
  #container header .menu li {
    float: none;
    margin: 0;
    text-align: center;
  }
  #container header .menu li:last-child {
    margin: 0;
  }
  #container header .menu li a {
    font-size: 20px;
    padding: 15px 70px;
  }
  #container footer .social {
    margin-top: 20px;
  }
  #container footer .social li {
    margin-right: 5px;
  }
  #container footer .social li::nth-child(4) {
    margin-right: 0;
  }
  #container #content {
    padding-top: 109px;
  }
  #container #content #banner {
    height: 350px;
  }
  #container #content #banner .logo-abrace {
    background: url(./images/logo-abrace-mobile.png) 0 0 no-repeat;
    width: 69px;
    height: 71px;
  }
  #container #content #sobre {
    padding-bottom: 70px;
  }
  #container #content #sobre:before {
    border-top: 105px solid #2aa99c;
    border-right: 170px solid transparent;
  }
  #container #content #sobre h2 {
    font-size: 40px;
  }
  #container #content #sobre p {
    width: auto;
    font-size: 16px;
  }
  #container #content #sobre .laco:before {
    opacity: 0.7;
  }
  #container #content #doacao {
    padding-top: 20px;
  }
  #container #content #doacao .wrap-info .logo-abrace {
    width: 140px;
    height: 143px;
    float: none;
  }
  #container #content #doacao .wrap-info h4 {
    width: auto;
    float: none;
    font-size: 16px;
  }
  #container #content #doacao .wrap-personagens article .wrap-doacoes .valores {
    margin-left: 0;
  }
  #container #content #doacao .wrap-personagens article .wrap-doacoes .valores li {
    margin-right: 12px;
  }
  #container #content #doetambem {
    padding-bottom: 70px;
    /*
  				h2{
  					font-size: 40px;
  					padding: 65px 0;
  				}
  				.lista{
  					li{
  						margin-right: 0;
  						margin-bottom: 40px;
  						&:nth-child(3){
  							margin-bottom: 70px;
  						}
  					}
  				}
  				*/
  
  }
  #container #content #videos {
    padding-bottom: 70px;
  }
  #container #content #videos h2 {
    background: url(./images/icone-video-pequeno.png) 30px 40px no-repeat;
    font-size: 40px;
    padding: 50px 0 50px 120px;
  }
  .hide-menu {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 10px 0 30px 0 rgba(0, 0, 0, 0.5) inset;
    z-index: 1000;
    text-indent: -9999px;
  }
}
