/* Largura mínima de 721px */ 
@media screen and (min-width: 45.0625em){
	.row{
		max-width: 100%;
		.column, .columns{

			&.one{width:8.33%;}
			&.two{width:16.66%;}
			&.three{width:25%;}
			&.four{width:33.33%;}
			&.five{width:41.66%;}
			&.six{width:50%;}
			&.seven{width:58.33%;}
			&.eight{width:66.66%;}
			&.nine{width:75%;}
			&.ten{width:83.33%;}
			&.eleven{width:91.66%;}
			&.twelve{width:100%;}

			&.push-one{margin-left:8.33%;}
			&.push-two{margin-left:16.66%;}
			&.push-three{margin-left:25%;}
			&.push-four{margin-left:33.33%;}
			&.push-five{margin-left:41.66%;}
			&.push-six{margin-left:50%;}
			&.push-seven{margin-left:58.33%;}
			&.push-eight{margin-left:66.66%;}
			&.push-nine{margin-left:75%;}
			&.push-ten{margin-left:83.33%;}
			&.push-eleven{margin-left:91.66%;}
			&.push-twelve{margin-left:100%;}
		}
		.row{
			margin: 0 auto !important;
		}
	}
}
/* Largura mínima de 0px e máxima de 720px*/
@media screen and (min-width: 0em) and  (max-width: 45em){
	@gap: 40px;
	.row{
		width: auto;
		.column, .columns{
			padding: 0 @gap / 2;

			&.vertical-padding{ padding: @gap / 2;}

			&.mobile-one{width:25%;}
			&.mobile-two{width:50%;}
			&.mobile-three{width:75%;}
			&.mobile-four{width:100%;}

			&.mobile-push-half{margin-left:12.5%;}
			&.mobile-push-one{margin-left:25%;}
			&.mobile-push-two{margin-left:50%;}
			&.mobile-push-three{margin-left:75%;}
			&.mobile-push-four{margin-left:100%;}
		}
		.row{width:auto;margin: 0 -1 * @gap / 2}		
	}
	#container{
		header{
			padding-top: 0;
			padding-bottom: 0;
			&:after{
				border-bottom: 109px solid #62c9de;
			}
			.logo{
				background: url(./images/logo-hcp-mobile.png) 0 0 no-repeat;
				width: 135px;
				height: 69px;
				margin: 20px 0;
			}
			.show-menu{
				position: absolute;
				display: block;
				right: 0;
				top: 42%;
				opacity: 1;
				visibility: visible;
				z-index: 2000;
				.c-hamburger {
				  display: block;
				  position: relative;
				  overflow: hidden;
				  margin: 0;
				  padding: 0;
				  width: 70px;
				  height: 52px;
				  font-size: 0;
				  text-indent: -9999px;
				  -webkit-appearance: none;
				  -moz-appearance: none;
				  appearance: none;
				  box-shadow: none;
				  border-radius: none;
				  border: none;
				  cursor: pointer;
				  -webkit-transition: background 0.3s;
				  transition: background 0.3s;
				}

				.c-hamburger:focus {
				  outline: none;
				}

				.c-hamburger span {
				  display: block;
				  position: absolute;
				  top: 23px;
				  left: 7px;
				  right: 7px;
				  height: 8px;
				  background: white;
				}

				.c-hamburger span::before,
				.c-hamburger span::after {
				  position: absolute;
				  display: block;
				  left: 0;
				  width: 100%;
				  height: 8px;
				  background-color: #fff;
				  content: "";
				}

				.c-hamburger span::before {
				  top: -20px;
				}

				.c-hamburger span::after {
				  bottom: -20px;
				}

				.c-hamburger--htx {
				  background-color: transparent;
				}

				.c-hamburger--htx span {
				  -webkit-transition: background 0s 0.3s;
				          transition: background 0s 0.3s;
				}

				.c-hamburger--htx span::before,
				.c-hamburger--htx span::after {
				  -webkit-transition-duration: 0.3s, 0.3s;
				          transition-duration: 0.3s, 0.3s;
				  -webkit-transition-delay: 0.3s, 0s;
				          transition-delay: 0.3s, 0s;
				}

				.c-hamburger--htx span::before {
				  -webkit-transition-property: top, -webkit-transform;
				          transition-property: top, transform;
				}

				.c-hamburger--htx span::after {
				  -webkit-transition-property: bottom, -webkit-transform;
				          transition-property: bottom, transform;
				}

				/* active state, i.e. menu open */
				.c-hamburger--htx.is-active {
				  background-color: transparent;
				}

				.c-hamburger--htx.is-active span {
				  background: none;
				}

				.c-hamburger--htx.is-active span::before {
				  top: 0;
				  -webkit-transform: rotate(45deg);
				      -ms-transform: rotate(45deg);
				          transform: rotate(45deg);
				}

				.c-hamburger--htx.is-active span::after {
				  bottom: 0;
				  -webkit-transform: rotate(-45deg);
				      -ms-transform: rotate(-45deg);
				          transform: rotate(-45deg);
				}

				.c-hamburger--htx.is-active span::before,
				.c-hamburger--htx.is-active span::after {
				  -webkit-transition-delay: 0s, 0.3s;
				          transition-delay: 0s, 0.3s;
				}
			}
			.menu{
				background: #2aa99c;
				position: fixed;
				display: block;
				float: none;
				width: auto;
				height: 100%;
				top: 0;
				left: -100%;
				padding: 10px;
				z-index: 9999;
				text-align: center;
				li{
					float: none;
					margin: 0;
					text-align: center;
					&:last-child{
						margin: 0;
					}
					a{
						font-size: 20px;
						padding: 15px 70px;
					}
				}
			}
		}
		footer{
			.social{
				margin-top: 20px;
				li{
					margin-right: 5px;
					&::nth-child(4){
						margin-right: 0;
					}
				}
			}
		}
		#content{
			padding-top: 109px;
			#banner{
				height: 350px;
				.logo-abrace{
					background: url(./images/logo-abrace-mobile.png) 0 0 no-repeat;
					width: 69px;
					height: 71px;
				}
			}
			#sobre{
				padding-bottom: 70px;
				&:before{
				    border-top: 105px solid #2aa99c;
				    border-right: 170px solid transparent;
				}
				h2{
					font-size: 40px;
				}
				p{
					width: auto;
					font-size: 16px;
				}
				.laco:before{
					opacity: 0.7;
				}
			}
			#doacao{
				padding-top: 20px;
				.wrap-info{
					.logo-abrace{
						width: 140px;
						height: 143px;
						float: none;
					}
					h4{
						width: auto;
						float: none;
						font-size: 16px;
					}
				}
				.wrap-personagens{
					article{
						.wrap-doacoes{
							.valores{
								margin-left: 0;
								li{
									margin-right: 12px;
								}
							}
						}
					}
				}
			}
			#doetambem{
				padding-bottom: 70px;
				h2{
					font-size: 40px;
					padding: 65px 0;
				}
				/*
				.lista{
					li{
						margin-right: 0;
						margin-bottom: 40px;
						&:nth-child(3){
							margin-bottom: 70px;
						}
					}
				}
				*/
			}
			#videos{
				padding-bottom: 70px;
				h2{
					background: url(./images/icone-video-pequeno.png) 30px 40px no-repeat;
					font-size: 40px;
					padding: 50px 0 50px 120px;
				}
			}
		}
	}
	.hide-menu{
		position: fixed;
		display: none;
		top: 0; left: 0;
		width: 100%; height: 100%;
		background-color: rgba(255,255,255,0.7);
		background-color: rgba(0,0,0,0.3);
		box-shadow: 10px 0 30px 0 rgba(0,0,0,0.5) inset;
		z-index: 1000;
		text-indent: -9999px;
	}
}