/*
	Theme Name: Abraçe com Coração | HCP - Hospital de Câncer de Pernambuco
	Theme URI: http://abracecomcoracao.hcp.com.br
	Description: Tema criado para o hotsite Abraçe com Coração do Hospital de Câncer de Pernambuco
	Version: 1.0
	Author: Munganga Agência Criativa
	Author URI: http://www.munganga.ag
	Tags: hcp, abraçe, coração, hospital, câncer, recife, pernambuco, responsivo, flat, munganga
*/

@font-face {
  font-family: 'Dinpro light';
  src: url('./font/dinpro-light.eot');
  src: url('./font/dinpro-light.eot?#iefix') format('embedded-opentype'), url('./font/dinpro-light.woff') format('woff'), url('./font/dinpro-light.ttf') format('truetype'), url('./font/dinpro-light.svg#Dinpro light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Dinpro regular';
  src: url('./font/dinpro-regular.eot');
  src: url('./font/dinpro-regular.eot?#iefix') format('embedded-opentype'), url('./font/dinpro-regular.woff') format('woff'), url('./font/dinpro-regular.ttf') format('truetype'), url('./font/dinpro-regular.svg#Dinpro regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Dinpro medium';
  src: url('./font/dinpro-medium.eot');
  src: url('./font/dinpro-medium.eot?#iefix') format('embedded-opentype'), url('./font/dinpro-medium.woff') format('woff'), url('./font/dinpro-medium.ttf') format('truetype'), url('./font/dinpro-medium.svg#Dinpro medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Dinpro bold';
  src: url('./font/dinpro-bold.eot');
  src: url('./font/dinpro-bold.eot?#iefix') format('embedded-opentype'), url('./font/dinpro-bold.woff') format('woff'), url('./font/dinpro-bold.ttf') format('truetype'), url('./font/dinpro-bold.svg#Dinpro bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Dinpro black';
  src: url('./font/dinpro-black.eot');
  src: url('./font/dinpro-black.eot?#iefix') format('embedded-opentype'), url('./font/dinpro-black.woff') format('woff'), url('./font/dinpro-black.ttf') format('truetype'), url('./font/dinpro-black.svg#Dinpro black') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  word-wrap: break-word;
}
/***** FONT *****/

.dinpro-light {
  font-family: 'Dinpro light', Arial, Helvetica, serif;
  font-weight: lighter;
}
.dinpro-normal {
  font-family: 'Dinpro regular', Arial, Helvetica, serif;
  font-weight: normal;
}
.dinpro-medium {
  font-family: 'Dinpro medium', Arial, Helvetica, serif;
  font-weight: 500;
}
.dinpro-bold,
strong {
  font-family: 'Dinpro bold', Arial, Helvetica, serif;
  font-weight: bold;
}
.dinpro-black {
  font-family: 'Dinpro black', Arial, Helvetica, serif;
  font-weight: bolder;
}
.italic,
em {
  font-style: italic;
}
.uppercase {
  text-transform: uppercase;
}
/***** END FONT *****/

img {
  max-width: 100%;
  height: auto;
}
html,
body {
  height: 100%;
}
body {
  background: white;
  font-family: 'Dinpro regular', Arial, Helvetica, serif;
  font-weight: normal;
}
::selection {
  color: white;
  background: #39517c;
}
::-moz-selection {
  color: white;
  background: #39517c;
}
.hidden {
  height: 0;
  overflow: hidden;
  display: block;
}
.display-table {
  display: table;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}
img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}
img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}
a img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
/******************************************************/
/*************                           **************/
/*************       	  GRID           **************/
/*************                           **************/
/******************************************************/
.row {
  width: 960px;
  margin: 0 auto;
}
.row .column,
.row .columns {
  float: left;
  padding: 0 10px;
}
.row .row {
  width: auto;
  margin: 0 -10px;
}
.row:before,
.row:after {
  content: " ";
  display: table;
  clear: both;
}
#container {
  position: relative;
  display: block;
  width: ;
  margin: 0 auto;
}
#container header {
  background: #2aa99c;
  position: fixed;
  display: block;
  width: 100%;
  padding-top: 55px;
  padding-bottom: 26px;
  z-index: 3000;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
#container header:after {
  content: " ";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-bottom: 135px solid #62c9de;
  border-left: 191px solid transparent;
  top: 0;
  right: 0;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
#container header .menu {
  position: relative;
  display: block;
}
#container header .menu li {
  position: relative;
  display: block;
  float: left;
  margin: 0 40px;
}
#container header .menu li:first-child {
  margin-left: 0;
}
#container header .menu li:last-child {
  margin-right: 40px;
}
#container header .menu li a {
  position: relative;
  display: block;
  font-family: 'Dinpro medium', Arial, Helvetica, serif;
  font-weight: 500;
  font-size: 25px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
#container header .menu li a:hover,
#container header .menu li a.selecionado {
  color: #f7d30e;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
#container header .logo {
  background: url(./images/logo-hcp.png) 0 0 no-repeat;
  position: relative;
  display: block;
  width: 195px;
  height: 99px;
  margin-top: -45px;
  z-index: 12;
}
#container header .logo a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-indent: -9999px;
}
#container header .show-menu {
  display: none;
  opacity: 0;
  visibility: hidden;
}
#container footer {
  background: #1c5995;
  position: relative;
  display: block;
  border-top: 10px solid #2aa99c;
  padding: 10px 0;
}
#container footer address {
  position: relative;
  display: block;
  font-family: 'Dinpro bold', Arial, Helvetica, serif;
  font-weight: bold;
  font-size: 13px;
  color: white;
  line-height: 1.5;
}
#container footer .social {
  position: relative;
  display: block;
}
#container footer .social li {
  position: relative;
  display: inline-block;
  width: 62px;
  height: 54px;
  margin-right: 10px;
}
#container footer .social li:nth-child(1) {
  background: url(./images/social-fb.png) 0 0 no-repeat;
}
#container footer .social li:nth-child(2) {
  background: url(./images/social-yt.png) 0 0 no-repeat;
}
#container footer .social li:nth-child(3) {
  background: url(./images/social-tw.png) 0 0 no-repeat;
}
#container footer .social li:nth-child(4) {
  background: url(./images/social-ig.png) 0 0 no-repeat;
  margin-right: 0;
}
#container footer .social li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
}
#container #content {
  position: relative;
  display: block;
  padding-top: 135px;
}
#container #content #banner {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  display: block;
  height: 724px;
}
#container #content #banner.imageCycle1 {
  background-image: url(./images/bg-hcp-01.jpg);
}
#container #content #banner.imageCycle2 {
  background-image: url(./images/bg-hcp-02.jpg);
  background-position: 20%;
}
#container #content #banner.imageCycle3 {
  background-image: url(./images/bg-hcp-03.jpg);
}
#container #content #banner .logo-abrace {
  background: url(./images/logo-abrace.png) 0 0 no-repeat;
  position: relative;
  display: block;
  width: 119px;
  height: 122px;
  margin-top: 10px;
}
#container #content #banner .logo-abrace a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-indent: -9999px;
}
#container #content #sobre {
  background: #1c5995;
  position: relative;
  display: block;
  padding-top: 125px;
  padding-bottom: 100px;
}
#container #content #sobre .row {
  position: relative;
  display: block;
}
#container #content #sobre:before {
  content: " ";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-top: 260px solid #2aa99c;
  border-right: 332px solid transparent;
  top: 0;
  left: 0;
}
#container #content #sobre .laco:before {
  background: url(./images/laco.png) 0 0 no-repeat;
  content: " ";
  position: absolute;
  display: block;
  width: 215px;
  height: 384px;
  top: 92px;
  right: 56px;
}
#container #content #sobre h2 {
  position: relative;
  display: block;
  color: #78abd4;
  font-family: 'Dinpro black', Arial, Helvetica, serif;
  font-weight: bolder;
  font-size: 89px;
  line-height: 0.97;
  text-transform: uppercase;
  margin-bottom: 30px;
}
#container #content #sobre p {
  position: relative;
  display: block;
  width: 548px;
  color: white;
  font-family: 'Dinpro light', Arial, Helvetica, serif;
  font-weight: lighter;
  font-size: 18px;
  line-height: 1.3;
  text-transform: uppercase;
}
#container #content #doacao {
  background: #2aa99c;
  padding-top: 74px;
  padding-bottom: 60px;
}
#container #content #doacao .wrap-info {
  position: relative;
  display: block;
  margin-bottom: 50px;
}
#container #content #doacao .wrap-info .logo-abrace {
  position: relative;
  display: block;
  float: left;
  width: 190px;
  height: 194px;
  margin-right: 15px;
}
#container #content #doacao .wrap-info h4 {
  position: relative;
  display: block;
  float: left;
  width: 720px;
  font-family: 'Dinpro regular', Arial, Helvetica, serif;
  font-weight: normal;
  font-size: 23px;
  color: white;
  line-height: 1.5;
  text-transform: uppercase;
  padding-top: 35px;
  padding-bottom: 15px;
  border-bottom: 2px dotted white;
}
#container #content #doacao .wrap-personagens {
  position: relative;
  display: block;
}
#container #content #doacao .wrap-personagens article {
  position: relative;
  display: block;
  margin-bottom: 15px;
  padding-bottom: 30px;
}
#container #content #doacao .wrap-personagens article:after,
#container #content #doacao .wrap-personagens article:before {
  background: #d7dde3;
  content: " ";
  position: absolute;
  display: block;
  width: 96%;
  height: 2px;
  bottom: 0;
  left: 10px;
}
#container #content #doacao .wrap-personagens article:before {
  bottom: 18px;
}
#container #content #doacao .wrap-personagens article h2 {
  position: relative;
  display: block;
  font-family: 'Dinpro regular', Arial, Helvetica, serif;
  font-weight: normal;
  font-size: 37px;
  color: white;
  line-height: 1;
  margin-bottom: 5px;
}
#container #content #doacao .wrap-personagens article img {
  background: #c7c8ca;
  position: relative;
  display: block;
  float: left;
  width: 117px;
  height: 152px;
  margin-right: 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  padding: 10px 10px 0 10px;
}
#container #content #doacao .wrap-personagens article p {
  position: relative;
  display: block;
  font-family: 'Dinpro light', Arial, Helvetica, serif;
  font-weight: lighter;
  font-size: 18px;
  color: white;
  line-height: 1;
  margin-bottom: 5px;
}
#container #content #doacao .wrap-personagens article .wrap-doacoes {
  position: relative;
  display: block;
}
#container #content #doacao .wrap-personagens article .wrap-doacoes h4 {
  position: relative;
  display: block;
  font-family: 'Dinpro bold', Arial, Helvetica, serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
  line-height: 1;
  margin-bottom: 5px;
}
#container #content #doacao .wrap-personagens article .wrap-doacoes .valores {
  position: relative;
  display: block;
  text-align: center;
  margin-left: 127px;
}
#container #content #doacao .wrap-personagens article .wrap-doacoes .valores li {
  position: relative;
  display: block;
  float: left;
  margin-right: 20px;
}
#container #content #doacao .wrap-personagens article .wrap-doacoes .valores li:last-child p {
  font-size: 15px;
  text-transform: lowercase;
}
#container #content #doacao .wrap-personagens article .wrap-doacoes .valores li p {
  position: relative;
  display: block;
  text-decoration: none;
  font-family: 'Dinpro bold', Arial, Helvetica, serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
  line-height: 1;
}
#container #content #doetambem {
  background: #e3d8a0;
  padding-bottom: 200px;
  /*
			.lista{
				position: relative;
				display: block;
				text-align: center;

				li{
					position: relative;
					width: 253px;
					height: 197px;
					padding-top: 200px;
					background-color: #6593b7;
					background-position: 0 0;
					background-repeat: no-repeat;
					display: inline-block;
					vertical-align: middle;
					-webkit-transition: all 300ms ease-in-out;
					-moz-transition: all 300ms ease-in-out;
					-ms-transition: all 300ms ease-in-out;
					-o-transition: all 300ms ease-in-out;
					transition: all 300ms ease-in-out;
					margin-right: 70px;
					&:nth-child(1){
						background-image: url(./images/icone-doe-tempo.png);
					}
					&:nth-child(2){
						background-image: url(./images/icone-doe-cabelo.png);
					}
					&:nth-child(3){
						background-image: url(./images/icone-doe-alimentos.png);
					}
					&:nth-child(4){
						background-image: url(./images/icone-doe-projetos.png);
						margin-right: 0;
					}
					&:hover {
					  background-color: #e9675b;
					-webkit-transition: all 300ms ease-in-out;
					-moz-transition: all 300ms ease-in-out;
					-ms-transition: all 300ms ease-in-out;
					-o-transition: all 300ms ease-in-out;
					transition: all 300ms ease-in-out;
					}
					h4{
						position: relative;
						display: block;
						.dinpro-normal;
						font-size: 29px;
						color: #6593b7;
						text-align: center;
						text-transform: uppercase;
					}
				}
			}
			*/

}
#container #content #doetambem h2 {
  position: relative;
  display: block;
  font-family: 'Dinpro black', Arial, Helvetica, serif;
  font-weight: bolder;
  font-size: 89px;
  text-align: center;
  color: #f77566;
  padding: 65px 0 115px 0;
  text-transform: uppercase;
}
#container #content #doetambem .wrap-banner-doetambem {
  position: relative;
  display: block;
}
#container #content #doetambem .wrap-banner-doetambem a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
#container #content #doetambem .wrap-banner-doetambem a img {
  position: relative;
  display: block;
  margin: 0 auto;
}
#container #content #videos {
  background: #6a9bc2;
  padding-top: 74px;
  padding-bottom: 170px;
}
#container #content #videos h2 {
  background: url(./images/icone-video.png) 0 50px no-repeat;
  position: relative;
  display: block;
  font-family: 'Dinpro black', Arial, Helvetica, serif;
  font-weight: bolder;
  font-size: 89px;
  color: #e3d8a0;
  padding: 60px 0 100px 120px;
  text-transform: uppercase;
}
#container #content #videos .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
#container #content #videos .video-container iframe,
#container #content #videos .video-container object,
#container #content #videos .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hide-menu {
  display: none;
}
/* Largura mínima de 721px */

@media screen and (min-width: 45.0625em) {
  .row {
    max-width: 100%;
  }
  .row .column.one,
  .row .columns.one {
    width: 8.33%;
  }
  .row .column.two,
  .row .columns.two {
    width: 16.66%;
  }
  .row .column.three,
  .row .columns.three {
    width: 25%;
  }
  .row .column.four,
  .row .columns.four {
    width: 33.33%;
  }
  .row .column.five,
  .row .columns.five {
    width: 41.66%;
  }
  .row .column.six,
  .row .columns.six {
    width: 50%;
  }
  .row .column.seven,
  .row .columns.seven {
    width: 58.33%;
  }
  .row .column.eight,
  .row .columns.eight {
    width: 66.66%;
  }
  .row .column.nine,
  .row .columns.nine {
    width: 75%;
  }
  .row .column.ten,
  .row .columns.ten {
    width: 83.33%;
  }
  .row .column.eleven,
  .row .columns.eleven {
    width: 91.66%;
  }
  .row .column.twelve,
  .row .columns.twelve {
    width: 100%;
  }
  .row .column.push-one,
  .row .columns.push-one {
    margin-left: 8.33%;
  }
  .row .column.push-two,
  .row .columns.push-two {
    margin-left: 16.66%;
  }
  .row .column.push-three,
  .row .columns.push-three {
    margin-left: 25%;
  }
  .row .column.push-four,
  .row .columns.push-four {
    margin-left: 33.33%;
  }
  .row .column.push-five,
  .row .columns.push-five {
    margin-left: 41.66%;
  }
  .row .column.push-six,
  .row .columns.push-six {
    margin-left: 50%;
  }
  .row .column.push-seven,
  .row .columns.push-seven {
    margin-left: 58.33%;
  }
  .row .column.push-eight,
  .row .columns.push-eight {
    margin-left: 66.66%;
  }
  .row .column.push-nine,
  .row .columns.push-nine {
    margin-left: 75%;
  }
  .row .column.push-ten,
  .row .columns.push-ten {
    margin-left: 83.33%;
  }
  .row .column.push-eleven,
  .row .columns.push-eleven {
    margin-left: 91.66%;
  }
  .row .column.push-twelve,
  .row .columns.push-twelve {
    margin-left: 100%;
  }
  .row .row {
    margin: 0 auto !important;
  }
}
/* Largura mínima de 0px e máxima de 720px*/

@media screen and (min-width: 0em) and (max-width: 45em) {
  .row {
    width: auto;
  }
  .row .column,
  .row .columns {
    padding: 0 20px;
  }
  .row .column.vertical-padding,
  .row .columns.vertical-padding {
    padding: 20px;
  }
  .row .column.mobile-one,
  .row .columns.mobile-one {
    width: 25%;
  }
  .row .column.mobile-two,
  .row .columns.mobile-two {
    width: 50%;
  }
  .row .column.mobile-three,
  .row .columns.mobile-three {
    width: 75%;
  }
  .row .column.mobile-four,
  .row .columns.mobile-four {
    width: 100%;
  }
  .row .column.mobile-push-half,
  .row .columns.mobile-push-half {
    margin-left: 12.5%;
  }
  .row .column.mobile-push-one,
  .row .columns.mobile-push-one {
    margin-left: 25%;
  }
  .row .column.mobile-push-two,
  .row .columns.mobile-push-two {
    margin-left: 50%;
  }
  .row .column.mobile-push-three,
  .row .columns.mobile-push-three {
    margin-left: 75%;
  }
  .row .column.mobile-push-four,
  .row .columns.mobile-push-four {
    margin-left: 100%;
  }
  .row .row {
    width: auto;
    margin: 0 -20px;
  }
  #container header {
    padding-top: 0;
    padding-bottom: 0;
  }
  #container header:after {
    border-bottom: 109px solid #62c9de;
  }
  #container header .logo {
    background: url(./images/logo-hcp-mobile.png) 0 0 no-repeat;
    width: 135px;
    height: 69px;
    margin: 20px 0;
  }
  #container header .show-menu {
    position: absolute;
    display: block;
    right: 0;
    top: 42%;
    opacity: 1;
    visibility: visible;
    z-index: 2000;
    /* active state, i.e. menu open */
  
  }
  #container header .show-menu .c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 70px;
    height: 52px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
  }
  #container header .show-menu .c-hamburger:focus {
    outline: none;
  }
  #container header .show-menu .c-hamburger span {
    display: block;
    position: absolute;
    top: 23px;
    left: 7px;
    right: 7px;
    height: 8px;
    background: white;
  }
  #container header .show-menu .c-hamburger span::before,
  #container header .show-menu .c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: white;
    content: "";
  }
  #container header .show-menu .c-hamburger span::before {
    top: -20px;
  }
  #container header .show-menu .c-hamburger span::after {
    bottom: -20px;
  }
  #container header .show-menu .c-hamburger--htx {
    background-color: transparent;
  }
  #container header .show-menu .c-hamburger--htx span {
    -webkit-transition: background 0s 0.3s;
    transition: background 0s 0.3s;
  }
  #container header .show-menu .c-hamburger--htx span::before,
  #container header .show-menu .c-hamburger--htx span::after {
    -webkit-transition-duration: 0.3s, 0.3s;
    transition-duration: 0.3s, 0.3s;
    -webkit-transition-delay: 0.3s, 0s;
    transition-delay: 0.3s, 0s;
  }
  #container header .show-menu .c-hamburger--htx span::before {
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, transform;
  }
  #container header .show-menu .c-hamburger--htx span::after {
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform;
  }
  #container header .show-menu .c-hamburger--htx.is-active {
    background-color: transparent;
  }
  #container header .show-menu .c-hamburger--htx.is-active span {
    background: none;
  }
  #container header .show-menu .c-hamburger--htx.is-active span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #container header .show-menu .c-hamburger--htx.is-active span::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #container header .show-menu .c-hamburger--htx.is-active span::before,
  #container header .show-menu .c-hamburger--htx.is-active span::after {
    -webkit-transition-delay: 0s, 0.3s;
    transition-delay: 0s, 0.3s;
  }
  #container header .menu {
    background: #2aa99c;
    position: fixed;
    display: block;
    float: none;
    width: auto;
    height: 100%;
    top: 0;
    left: -100%;
    padding: 10px;
    z-index: 9999;
    text-align: center;
  }
  #container header .menu li {
    float: none;
    margin: 0;
    text-align: center;
  }
  #container header .menu li:last-child {
    margin: 0;
  }
  #container header .menu li a {
    font-size: 20px;
    padding: 15px 70px;
  }
  #container footer .social {
    margin-top: 20px;
  }
  #container footer .social li {
    margin-right: 5px;
  }
  #container footer .social li::nth-child(4) {
    margin-right: 0;
  }
  #container #content {
    padding-top: 109px;
  }
  #container #content #banner {
    height: 350px;
  }
  #container #content #banner .logo-abrace {
    background: url(./images/logo-abrace-mobile.png) 0 0 no-repeat;
    width: 69px;
    height: 71px;
  }
  #container #content #sobre {
    padding-bottom: 70px;
  }
  #container #content #sobre:before {
    border-top: 105px solid #2aa99c;
    border-right: 170px solid transparent;
  }
  #container #content #sobre h2 {
    font-size: 40px;
  }
  #container #content #sobre p {
    width: auto;
    font-size: 16px;
  }
  #container #content #sobre .laco:before {
    opacity: 0.7;
  }
  #container #content #doacao {
    padding-top: 20px;
  }
  #container #content #doacao .wrap-info .logo-abrace {
    width: 140px;
    height: 143px;
    float: none;
  }
  #container #content #doacao .wrap-info h4 {
    width: auto;
    float: none;
    font-size: 16px;
  }
  #container #content #doacao .wrap-personagens article .wrap-doacoes .valores {
    margin-left: 0;
  }
  #container #content #doacao .wrap-personagens article .wrap-doacoes .valores li {
    margin-right: 12px;
  }
  #container #content #doetambem {
    padding-bottom: 70px;
    /*
  				.lista{
  					li{
  						margin-right: 0;
  						margin-bottom: 40px;
  						&:nth-child(3){
  							margin-bottom: 70px;
  						}
  					}
  				}
  				*/
  
  }
  #container #content #doetambem h2 {
    font-size: 40px;
    padding: 65px 0;
  }
  #container #content #videos {
    padding-bottom: 70px;
  }
  #container #content #videos h2 {
    background: url(./images/icone-video-pequeno.png) 30px 40px no-repeat;
    font-size: 40px;
    padding: 50px 0 50px 120px;
  }
  .hide-menu {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 10px 0 30px 0 rgba(0, 0, 0, 0.5) inset;
    z-index: 1000;
    text-indent: -9999px;
  }
}
