/*
	Theme Name: Abraçe com Coração | HCP - Hospital de Câncer de Pernambuco
	Theme URI: http://abracecomcoracao.hcp.com.br
	Description: Tema criado para o hotsite Abraçe com Coração do Hospital de Câncer de Pernambuco
	Version: 1.0
	Author: Munganga Agência Criativa
	Author URI: http://www.munganga.ag
	Tags: hcp, abraçe, coração, hospital, câncer, recife, pernambuco, responsivo, flat, munganga
*/

@font-face {font-family: 'Dinpro light'; src: url('./font/dinpro-light.eot'); src: url('./font/dinpro-light.eot?#iefix') format('embedded-opentype'), url('./font/dinpro-light.woff') format('woff'), url('./font/dinpro-light.ttf') format('truetype'), url('./font/dinpro-light.svg#Dinpro light') format('svg'); font-weight: normal; font-style: normal; }
@font-face {font-family: 'Dinpro regular'; src: url('./font/dinpro-regular.eot'); src: url('./font/dinpro-regular.eot?#iefix') format('embedded-opentype'), url('./font/dinpro-regular.woff') format('woff'), url('./font/dinpro-regular.ttf') format('truetype'), url('./font/dinpro-regular.svg#Dinpro regular') format('svg'); font-weight: normal; font-style: normal; }
@font-face {font-family: 'Dinpro medium'; src: url('./font/dinpro-medium.eot'); src: url('./font/dinpro-medium.eot?#iefix') format('embedded-opentype'), url('./font/dinpro-medium.woff') format('woff'), url('./font/dinpro-medium.ttf') format('truetype'), url('./font/dinpro-medium.svg#Dinpro medium') format('svg'); font-weight: normal; font-style: normal; }
@font-face {font-family: 'Dinpro bold'; src: url('./font/dinpro-bold.eot'); src: url('./font/dinpro-bold.eot?#iefix') format('embedded-opentype'), url('./font/dinpro-bold.woff') format('woff'), url('./font/dinpro-bold.ttf') format('truetype'), url('./font/dinpro-bold.svg#Dinpro bold') format('svg'); font-weight: normal; font-style: normal; }
@font-face {font-family: 'Dinpro black'; src: url('./font/dinpro-black.eot'); src: url('./font/dinpro-black.eot?#iefix') format('embedded-opentype'), url('./font/dinpro-black.woff') format('woff'), url('./font/dinpro-black.ttf') format('truetype'), url('./font/dinpro-black.svg#Dinpro black') format('svg'); font-weight: normal; font-style: normal; }

/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; } body {line-height: 1; } ol, ul {list-style: none; } blockquote, q {quotes: none; } blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; } table {border-collapse: collapse; border-spacing: 0;}

* {box-sizing:border-box; -moz-box-sizing:border-box; margin: 0; padding: 0; list-style: none;word-wrap: break-word;}

/***** FONT *****/

.dinpro-light{font-family: 'Dinpro light', Arial, Helvetica, serif; font-weight: lighter;}
.dinpro-normal{font-family: 'Dinpro regular', Arial, Helvetica, serif; font-weight: normal;}
.dinpro-medium{font-family: 'Dinpro medium', Arial, Helvetica, serif; font-weight: 500;}
.dinpro-bold, strong{font-family: 'Dinpro bold', Arial, Helvetica, serif; font-weight: bold;}
.dinpro-black{font-family: 'Dinpro black', Arial, Helvetica, serif; font-weight: bolder;}
.italic, em{font-style: italic;}
.uppercase {text-transform: uppercase;}

/***** END FONT *****/

img{max-width: 100%; height: auto;}

html, body{height: 100%;}

body{background: #FFFFFF;.dinpro-normal;}

::selection {color:#FFFFFF;background:#39517C;}
::-moz-selection {color:#FFFFFF;background:#39517C;}

.hidden {height: 0; overflow: hidden; display: block;}
.display-table {display: table;}

.float-left{float: left;}
.float-right{float: right;}

img.alignright{.float-right;margin: 0 0 1em 1em;}
img.alignleft{.float-left;margin: 0 1em 1em 0;}
img.aligncenter{display: block; margin-left: auto; margin-right: auto;}

a img.alignright{.float-right;margin: 0 0 1em 1em;}
a img.alignleft{.float-left;margin: 0 1em 1em 0;}
a img.aligncenter{display: block; margin-left: auto; margin-right: auto;}

.clearfix {
	&:before, &:after {content: " "; display: table; clear: both;}
}

/******************************************************/
/*************                           **************/
/*************       	  GRID           **************/
/*************                           **************/
/******************************************************/

@width: 960px;
@gap: 20px;

.row{
	width: @width;
	margin: 0 auto;

	.column, .columns{
		float: left;
		padding: 0 @gap / 2;
	}

	.row{width:auto;margin: 0 -1 * @gap / 2}

	&:before, &:after {content: " "; display: table; clear: both;}
}

#container{
	position: relative;
	display: block;
	width: ;
	margin: 0 auto;

	header{
		background: #2aa99c;
		position: fixed;
		display: block;
		width: 100%;
		padding-top: 55px;
		padding-bottom: 26px;
		z-index: 3000;
		-webkit-transition: all 500ms ease-in-out;
		-moz-transition: all 500ms ease-in-out;
		-ms-transition: all 500ms ease-in-out;
		-o-transition: all 500ms ease-in-out;
		transition: all 500ms ease-in-out;		
		&:after{
			content: " ";
			position: absolute;
			display: block;
			width: 0;
			height: 0;
			border-bottom: 135px solid #62c9de;
			border-left: 191px solid transparent;
			top: 0;
			right: 0;
			-webkit-transition: all 500ms ease-in-out;
			-moz-transition: all 500ms ease-in-out;
			-ms-transition: all 500ms ease-in-out;
			-o-transition: all 500ms ease-in-out;
			transition: all 500ms ease-in-out;
		}
		.menu{
			position: relative;
			display: block;
			li{
				position: relative;
				display: block;
				float: left;
				margin: 0 40px;
				&:first-child{
					margin-left: 0;
				}
				&:last-child{
					margin-right: 40px;
				}
				a{
					position: relative;
					display: block;
					.dinpro-medium;
					font-size: 25px;
					color: #FFFFFF;
					text-transform: uppercase;
					text-decoration: none;
					-webkit-transition: all 300ms ease-in-out;
					-moz-transition: all 300ms ease-in-out;
					-ms-transition: all 300ms ease-in-out;
					-o-transition: all 300ms ease-in-out;
					transition: all 300ms ease-in-out;
					&:hover,
					&.selecionado{
						color: #f7d30e;
						-webkit-transition: all 300ms ease-in-out;
						-moz-transition: all 300ms ease-in-out;
						-ms-transition: all 300ms ease-in-out;
						-o-transition: all 300ms ease-in-out;
						transition: all 300ms ease-in-out;
					}
				}
			}
		}
		.logo{
			background: url(./images/logo-hcp.png) 0 0 no-repeat;
			position: relative;
			display: block;
			width: 195px;
			height: 99px;
			margin-top: -45px;
			z-index: 12;
			a{
				position: relative;
				display: block;
				width: 100%;
				height: 100%;
				text-decoration: none;
				text-indent: -9999px;
			}
		}
		.show-menu{
			display: none;
			opacity: 0;
			visibility: hidden;
		}
	}
	footer{
		background: #1c5995;
		position: relative;
		display: block;
		border-top: 10px solid #2aa99c;
		padding: 10px 0;

		address{
			position: relative;
			display: block;
			.dinpro-bold;
			font-size: 13px;
			color: #FFFFFF;
			line-height: 1.5;
		}

		.social{
			position: relative;
			display: block;
			li{
				position: relative;
				display: inline-block;
				width: 62px;
				height: 54px;
				margin-right: 10px;

				&:nth-child(1){
					background: url(./images/social-fb.png) 0 0 no-repeat;
				}
				&:nth-child(2){
					background: url(./images/social-yt.png) 0 0 no-repeat;
				}
				&:nth-child(3){
					background: url(./images/social-tw.png) 0 0 no-repeat;
				}
				&:nth-child(4){
					background: url(./images/social-ig.png) 0 0 no-repeat;
					margin-right: 0;
				}
				a{
					position: relative;
					display: block;
					width: 100%;
					height: 100%;
					text-indent: -9999px;
				}
			}
		}
	}
	#content{
		position: relative;
		display: block;
		padding-top: 135px;

		#banner{
			background-repeat: no-repeat;
			background-position: center center;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			position: relative;
			display: block;
			height: 724px;
			&.imageCycle1{
		    	background-image: url(./images/bg-hcp-01.jpg);
		    }
			&.imageCycle2{
		    	background-image: url(./images/bg-hcp-02.jpg);
		    	background-position: 20%;
		    }
			&.imageCycle3{
		    	background-image: url(./images/bg-hcp-03.jpg);
		    }
			.logo-abrace{
				background: url(./images/logo-abrace.png) 0 0 no-repeat;
				position: relative;
				display: block;
				width: 119px;
				height: 122px;
				margin-top: 10px;
				a{
					position: relative;
					display: block;
					width: 100%;
					height: 100%;
					text-decoration: none;
					text-indent: -9999px;
				}
			}
		}
		#sobre{
			background: #1c5995;
			position: relative;
			display: block;
			padding-top: 125px;
			padding-bottom: 100px;
			.row{
				position: relative;
				display: block;
			}
			&:before{
				content: " ";
				position: absolute;
				display: block;
				width: 0;
				height: 0;
				border-top: 260px solid #2aa99c;
				border-right: 332px solid transparent;
				top: 0;
				left: 0;
			}
			.laco:before{
				background: url(./images/laco.png) 0 0 no-repeat;
				content: " ";
				position: absolute;
				display: block;
				width: 215px;
				height: 384px;
				top: 92px;
				right: 56px;
			}
			h2{
				position: relative;
				display: block;
				color: #78abd4;
				.dinpro-black;
				font-size: 89px;
				line-height: 0.97;
				text-transform: uppercase;
				margin-bottom: 30px;
			}
			p{
				position: relative;
				display: block;
				width: 548px;
				color: #FFFFFF;
				.dinpro-light;
				font-size: 18px;
				line-height: 1.3;
				text-transform: uppercase;
			}
		}
		#doacao{
			background: #2aa99c;
			padding-top: 74px;
			padding-bottom: 60px;
			.wrap-info{
				position: relative;
				display: block;
				margin-bottom: 50px;

				.logo-abrace{
					position: relative;
					display: block;
					float: left;
					width: 190px;
					height: 194px;
					margin-right: 15px;
				}
				h4{
					position: relative;
					display: block;
					float: left;
					width: 720px;
					.dinpro-normal;
					font-size: 23px;
					color: #FFFFFF;
					line-height: 1.5;
					text-transform: uppercase;
					padding-top: 35px;
					padding-bottom: 15px;
					border-bottom: 2px dotted #FFFFFF;
				}
			}
			.wrap-personagens{
				position: relative;
				display: block;
				article{
					position: relative;
					display: block;
					margin-bottom: 15px;
					padding-bottom: 30px;

					&:after,
					&:before{
						background: #d7dde3;
						content:" ";
						position: absolute;
						display: block;
						width: 96%;
						height: 2px;
						bottom: 0;
						left: 10px;
					}

					&:before{
						bottom: 18px;
					}

					h2{
						position: relative;
						display: block;
						.dinpro-normal;
						font-size: 37px;
						color: #FFFFFF;
						line-height: 1;
						margin-bottom: 5px;
					}
					img{
						background: #c7c8ca;
						position: relative;
						display: block;
						float: left;
						width: 117px;
						height: 152px;
						margin-right: 10px;
						-webkit-border-radius: 10px 10px 10px 10px;
						border-radius: 10px 10px 10px 10px;
						padding: 10px 10px 0 10px;
					}
					p{
						position: relative;
						display: block;
						.dinpro-light;
						font-size: 18px;
						color: #FFFFFF;
						line-height: 1;
						margin-bottom: 5px;
					}
					.wrap-doacoes{
						position: relative;
						display: block;
						h4{
							position: relative;
							display: block;
							.dinpro-bold;
							font-size: 18px;
							color: #FFFFFF;
							line-height: 1;
							margin-bottom: 5px;
						}
						.valores{
							position: relative;
							display: block;
							text-align: center;
							margin-left: 127px;
							li{
								position: relative;
								display: block;
								float: left;
								margin-right: 20px;
								
								&:last-child{
									p{
										font-size: 15px;
										text-transform: lowercase;
									}
								}
								p{
									position: relative;
									display: block;
									text-decoration: none;
									.dinpro-bold;
									font-size: 18px;
									color: #FFFFFF;
									line-height: 1;
								}
							}
						}
					}
				}
			}
		}
		#doetambem{
			background: #e3d8a0;
			padding-bottom: 200px;			
			h2{
				position: relative;
				display: block;
				.dinpro-black;
				font-size: 89px;
				text-align: center;
				color: #f77566;
				padding: 65px 0 115px 0;
				text-transform: uppercase;
			}
			.wrap-banner-doetambem{
				position: relative;
				display: block;
				a{
					position: relative;
					display: block;
					width: 100%;
					height: 100%;
					outline: none;
					text-decoration: none;
					cursor: pointer;
					img{
						position: relative;
						display: block;
						margin: 0 auto;
					}
				}
			}
			/*
			.lista{
				position: relative;
				display: block;
				text-align: center;

				li{
					position: relative;
					width: 253px;
					height: 197px;
					padding-top: 200px;
					background-color: #6593b7;
					background-position: 0 0;
					background-repeat: no-repeat;
					display: inline-block;
					vertical-align: middle;
					-webkit-transition: all 300ms ease-in-out;
					-moz-transition: all 300ms ease-in-out;
					-ms-transition: all 300ms ease-in-out;
					-o-transition: all 300ms ease-in-out;
					transition: all 300ms ease-in-out;
					margin-right: 70px;
					&:nth-child(1){
						background-image: url(./images/icone-doe-tempo.png);
					}
					&:nth-child(2){
						background-image: url(./images/icone-doe-cabelo.png);
					}
					&:nth-child(3){
						background-image: url(./images/icone-doe-alimentos.png);
					}
					&:nth-child(4){
						background-image: url(./images/icone-doe-projetos.png);
						margin-right: 0;
					}
					&:hover {
					  background-color: #e9675b;
					-webkit-transition: all 300ms ease-in-out;
					-moz-transition: all 300ms ease-in-out;
					-ms-transition: all 300ms ease-in-out;
					-o-transition: all 300ms ease-in-out;
					transition: all 300ms ease-in-out;
					}
					h4{
						position: relative;
						display: block;
						.dinpro-normal;
						font-size: 29px;
						color: #6593b7;
						text-align: center;
						text-transform: uppercase;
					}
				}
			}
			*/
		}
		#videos{
			background: #6a9bc2;
			padding-top: 74px;
			padding-bottom: 170px;

			h2{
				background: url(./images/icone-video.png) 0 50px no-repeat;
				position: relative;
				display: block;
				.dinpro-black;
				font-size: 89px;
				color: #e3d8a0;
				padding: 60px 0 100px 120px;
				text-transform: uppercase;
			}

			.video-container {
				position: relative;
				padding-bottom: 56.25%;
				padding-top: 30px;
				height: 0;
				overflow: hidden;

				iframe, object, embed{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}

.hide-menu{
	display: none;
}

@import 'responsive.less';